body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 58%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.maindiv{
    margin: 30px;
}
.city{
    padding: 10px;
}